<form method="post">
	<!-- Title -->
	<h1>Title</h1>
	<p style="color: red">{{error['title']}}</p>
	<input name="title" value="{{previous_value['title']}}"></input>

	<!-- Content -->
	<h1>Content</h1>
	<p style="color: red">{{error['content']}}</p>
	<textarea name="content">{{previous_value['content']}}</textarea>
	<br>
	<button type="submit">Submit</button>
</form>

<hr>
<hr>

{% for note in notes %}
<form action="/delete" method="post">
	<h2>{{note.title}}</h2>
	<p>{{note.content}}</p>
	<input type="hidden" name="note-id" value="{{note.key.id()}}">
	<button type="submit">Delete</button>
</form>
<br>
{% endfor %}